# Python environment
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
agri_env/

# Large files
data/
!data/raw/
!data/raw/maize_prices.csv
!data/external/
!data/external/sample_weather.csv
!data/predictions.csv
visuals/
!visuals/price_trend.png

# IDE files
.vscode/